{erl_opts, [debug_info]}.
{deps, [
  lager,
  {iso8601, "1.2.3"},
  {jiffy, "0.14.11"},
  cowboy,
  sync
]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [reinierapp]}
]}.

{relx, [{release, {reinierapp, "0.1.0"},
  [
    lager,
    jiffy,
    iso8601,
    cowboy,
    sync,
    reinierapp
  ]},
  {dev_mode, true},
  {sys_config, "config/sys.config"},
  {vm_args, "config/vm.args"},
  {include_src, true},
  {include_erts, false},
  {cover_enabled, true},
  {extended_start_script, true}
]}.